.root{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    height: 6em;
    border-bottom: 1px solid #e6e6e6; 
    
}
.checkbutton{
    margin: 0.5em 0.4em;
}
.infoncontent{
    font-size: 0.9em;
    color: #6d6d6d;
    padding: 0.4em 1em 0.4em 0.4em;
    display: flex;
    flex-direction: column;
    flex: 1;   
}  
.headermsg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
       
}
.date, .contentmsg{
    font-size: 0.9em;
    color: #d4d4d4;
}
.contentmsg{
text-align: start; 
overflow: hidden; 
}
.bodymsg{
    margin-top: 0.2em;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}
.sendby{
    margin-bottom: 0.2em;
    font-size: 0.9em;
}
